.dark .ce-block--selected .ce-block__content,
.dark .ce-inline-toolbar,
.dark .codex-editor--narrow .ce-toolbox,
.dark .ce-conversion-toolbar,
.dark .ce-settings,
.dark .ce-settings__button,
.dark .ce-toolbar__settings-btn,
.dark .cdx-button,
.dark .ce-popover,
.dark .ce-popover__item-icon {
  background: rgb(17, 24, 39);
  color: inherit;
}

.dark .ce-popover {
  border-color: rgb(55, 65, 81);
}

.dark .ce-inline-tool,
.dark .ce-conversion-toolbar__label,
.dark .ce-toolbox__button,
.dark .cdx-settings-button,
.dark .ce-toolbar__plus {
  color: inherit;
}

::selection {
  background: rgb(31, 41, 55);
}

.dark .cdx-settings-button:hover,
.dark .ce-settings__button:hover,
.dark .ce-toolbox__button--active,
.dark .ce-toolbox__button:hover,
.dark .cdx-button:hover,
.dark .ce-inline-toolbar__dropdown:hover,
.dark .ce-inline-tool:hover,
.dark .ce-toolbar__plus:hover,
.dark .ce-popover__item:hover,
.dark .cdx-search-field {
  background-color: rgb(31, 41, 55);
  color: inherit;
}
